@import url(http://fonts.googleapis.com/css?family=Roboto:300);

*{
	list-style-type: none !important;
}

html{
	height:100%;
}

body {
	background-color:#f8f7f5;
	height:100%;
}

.background-img {
	padding:0; margin:0;
	font-family:  'Roboto', arial;
	background:url('img/drawing3.png') no-repeat;
	background-position:cover;
	width: 100%;
 	height: 545px;
	background-position:center top;
}

h1 {
	font-family: 'Roboto';
	font-size: 22px;
	line-height: 1.2em;


}

.content {
	width:900px;
	margin: 0 auto;
}

.title{
	float:right;
	width:548px;
	text-align:left;
}

.headline {
	padding-top:0;
	margin-top:50px;
	padding:30px 20px;
	display:block;	
}

.iphone-div{
	margin:50px 0 0 32px;

	float:left;
}

.iphone {
	background:url('img/iphone-background.png') no-repeat;
	width:300px;
	height:566px;
	margin-top:0;
	background-position:center;
}

.iphone .rslides {
	padding: 81px 0;
	width: 227px;
	height: 403px;
	margin:auto;
}
	
.iphone .rslides li img {
	width: 227px;
	height: 403px;
}

ul {
	padding: 0;
	margin: 0;
}	

.blank {
	height:460px;
}

.form-holder{
	float:left;
	margin:275px 0 0 25px;
}
.form {
	display:inline-block;
	text-align: center;
}

.button {
	width:120px;
	margin-left:70px;
	position: relative;
	outline: none;
	padding: 20px;
	border: solid 3px;
	border-color: black;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
	color: black;
	background: #e84a43;
	float:left;
	margin-bottom:50px;
}
.button:hover {
	background: #bf3731;
	cursor: pointer;
}

.field {
	width:100%;
	outline: none;	
	font-size: 18px;
	padding: 20px;
	margin: 0 auto;
	border: solid 3px;
	border-color: black;
	border-radius: 5px;
	background: white;
}

.ss-form-question {
	display:inline-block;
}

.footer-container {
	
	height:auto;
}

.footer {
	position: fixed;
	bottom:0;
	width:100%;
	height:40px;
	text-align: center;
	background:#FFF;
	z-index:100;
}

p {
	font-size:12px;
}

p a {
	color:#f3cc45;
}

p a:hover {
	color:#bf3731;
}

/*media queries*/

@media screen and (max-width: 480px) {
	.row,
	.large-4 columns,
	.large-8 columns, {
		width:100%;
	}
}


.ss-form-question{width:74%; float:left;}
.but { float:left;}